@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
ul {
  margin: 0;
  padding: 0;
}

.ball {
  height: 25rem;
  width: 25rem;
  top: -5rem;
  left: -12rem;
  background: var(--ball-color);
  position: fixed;
  clip-path: circle();
}

.ball-bottom {
  height: 25rem;
  width: 25rem;
  bottom: -9rem;
  right: -8rem;
  background: var(--ball-color);
  position: fixed;
  clip-path: circle();
}

html {
  --title-orange: #f8982c;
  --text-gray: #515151;
  --text-light-gray: #989898;
  --text-card-gray: #3b3b3b;
  --text-white: #ffffff;
  --text-purple: #be49e8;
  --text-blue: #5398e9;
  --text-green: #2bbc5d;
  --back-input: #f7f7f7;
  --back-button: #f79d2d;
  --ball-color: rgba(248, 153, 44, 0.18);

  font-size: 62.5%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*=========BUTTON===========*/

.button {
  background: var(--back-button);
  width: 32.2rem;
  height: 6rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.3rem auto;
  color: var(--text-white);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  transition: 0.4s;
  border: none;
}

.button:hover {
  filter: brightness(1.1);
}

footer {
  text-align: center;
  margin: 0.9rem 2.3rem;
  color: var(--text-light-gray);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
